@model ControlDeGasto.Models.GastoModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Egreso</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Egreso</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div id="Fecha" class="form-group" style="margin-top:10px; margin-right:3px">
                                <label for="fecha">Fecha:</label>
                                <input type="datetime" id="txtFecha" name="txtPackage" style="cursor: pointer;width: 50px;" />
                            </div>
                            <div id="Monto" class="form-group" style="margin-top:10px; margin-right:3px">
                                <label class="mx-1">Monto: </label>
                                <input type="number" id="txtMonto" name="txtProceeding" style="cursor:pointer;" />
                            </div>
                            <div id="Descripcion" class="form-group" style="margin-top:10px; margin-right:3px">
                                <label class="mx-1">Descripcion: </label>
                                <input type="Text" id="txtDescripcion" name="txtProceeding" style="cursor:pointer;" />
                            </div>
                            <div id="TipoGasto" class="form-group" style="margin-top:10px; margin-right:3px">
                                <label class="mx-1">TipoGasto: </label>
                                <input type="Text" id="txtTipoGasto" name="txtPT" style="cursor: pointer;width: 50px;" />
                            </div>
                            <button id="Egresar" class="btn btn-info" title="Buscar" style="margin:5px;"><span class='fa fa-share' style='text-align: center'></span></button>                      
                    
               
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script>


    $(document).ready(function () {



        $("#Egresar").click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("EgresarGasto", "Cobro")',
                data: {
                    Fecha: $("#txtFecha").val(),
                    Monto: $("#txtMonto").val(),
                    Descripcion: $("#txtDescripcion").val(),
                    TipoGasto: $("#txtTipoGasto").val()
                },

                success: function () {

                },
                error: function () {
                },
                complete: function () {

                }
            });


        });

    });




</script>

